root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
indent_style = tab
end_of_line = lf

[*.{kt,kts}]
indent_style = space
indent_size = 4
ij_wrap_on_typing = true
ij_any_wrap_long_lines = true
# noinspection EditorConfigKeyCorrectness
ktlint_custom-rule-set = enabled
# noinspection EditorConfigKeyCorrectness
ktlint_standard_function-expression-body = disabled
# noinspection EditorConfigKeyCorrectness
ktlint_standard_function-literal = disabled

[*.md]
max_line_length = 80